{% extends 'base.html' %}

{% block content %}

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
					<h2>{{resume.title}}</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">{{request.user.email}}</a></h3>
						<h3>(313) - 867-5309</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								{{resume.description}} 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">
								{% if skills %}
								{% for skill in skills %}
								<div class="talent">
									<h2>{{skill.title}}</h2>
								</div>
								{% endfor %}
								{% endif %}
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>XHTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Jquery</li>
								<li>PHP</li>
								<li class="last">CVS / Subversion</li>
							</ul>

							<ul class="talent">
								<li>OS X</li>
								<li>Windows XP/Vista</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							{% if experiences %}
							{% for experience in experiences %}
							<div class="job">
								<h2>{{experience.company}}</h2>
								<h3>{{experience.title}}</h3>
								<h4>{{experience.start_date}}- {% if experience.end_date != None %}{{experience.end_date}} {% else %}Present{% endif %} </h4>
								<p>{{experience.description}}</p>
							</div>
							{% endfor %}
							{% endif %}
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					{% if educations %}
					
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						{% for education in educations %}
						<div class="yui-u">
							<h2>{{education.name}}</h2>
							<h3>{{education.degree}} &mdash; <strong>4.0 GPA</strong> </h3>
						</div>
					
						{% endfor %}
					</div><!--// .yui-gf -->
					
					{% endif %}

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
{% endblock content %}